@charset "UTF-8";
/* Обнуление стилей */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Oswald:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Open Sans, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  background: #372b3e;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 967px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
  position: relative;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-family: Oswald, san-serif;
  font-weight: 200;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.text {
  font-size: 14px;
  line-height: 157%;
  color: #DAD8D7;
}

.header {
  margin: 15px 0 50px 0;
  position: relative;
  z-index: 2;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 3;
}
.logo__icon {
  display: inline-block;
  flex: 0 0 24px;
}
.logo__icon img {
  width: 24px;
  height: 24px;
}
.logo__text {
  display: inline-block;
  color: inherit;
  font-family: Oswald, san-serif;
  font-weight: 400;
  font-size: 26px;
}
.logo__ukraine {
  width: 40px;
  height: 24px;
  background-image: linear-gradient(to bottom, #157cc7, #157cc7 50%, #ff0 50%, #ff0);
}

.header__burger {
  display: none;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 3;
}
.menu__link {
  padding: 9px 18px;
  color: inherit;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
}
.menu__link:hover {
  border-radius: 25px;
  background: #F4511F;
}

.contacts,
.logo-menu {
  display: none;
}

.page {
  flex: 1 1 auto;
  min-width: 0;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  top: 85% !important;
  color: #DAD8D7 !important;
}

.swiper-button-prev {
  right: 50px !important;
  left: inherit !important;
}

.swiper-button-next {
  right: 0 !important;
  left: inherit !important;
}

.swiper-pagination-bullet-active {
  background: #DAD8D7 !important;
}

.content-swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  line-height: 20px;
  font-size: 14px;
  background: #fff;
}

.slider {
  display: flex;
  gap: 78px;
  margin: 0 0 50px 0;
}

.image-slider {
  flex: 1 1 50%;
}
.image-slider img {
  margin-bottom: 5px;
  transition: all 0.9s ease 0s;
}
.image-slider img:hover {
  margin-bottom: 5px;
  transform: rotate(360deg);
}
.image-slider__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 65%;
  text-align: right;
}
.image-slider__title {
  font-family: Oswald, san-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.image-slider__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #DAD8D7;
}

.content-slider {
  margin: 30px 0 0 0;
  flex: 1 1 50%;
}

.content-slider__subtitle {
  font-size: 18px;
  line-height: 155%;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.content-slider__tittle {
  font-family: Oswald, san-serif;
  font-weight: 200;
  font-size: 62px;
  line-height: 116%;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.content-slider__text {
  margin: 0 0 45px 0;
}

.content-slider__button,
.button {
  display: inline-block;
  padding: 15px 25px;
  background: #F4511F;
  border-radius: 25px;
  color: inherit;
  transition: all 0.3s ease 0s;
}
.content-slider__button:hover,
.button:hover {
  background: #79d117;
  transform: scale(1.03);
}

.services {
  margin: 120px 0 0 0;
}
.services__tittle {
  margin: 0 0 65px 0;
  text-align: center;
}
.services__items {
  display: flex;
  gap: 20px;
  text-align: center;
}

.item-services {
  flex: 1 1 33.333%;
  padding: 15px;
  border-radius: 10px;
  background: #2d2332;
  transition: all 0.3s ease 0s;
}
.item-services:hover {
  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.item-services__image {
  height: 140px;
}
.item-services__image img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease 0s;
}
.item-services__label {
  margin: 20px 0 5px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.about {
  display: flex;
  margin: 150px 0 0 0;
}
.about__content {
  flex: 1 1 50%;
}
.about__title {
  margin: 0 0 50px 0;
}
.about__text {
  margin: 0 0 35px 0;
}
.about__image {
  flex: 1 1 50%;
  text-align: right;
}
.about__image img {
  width: 430px;
}

.premium-menu {
  margin: 150px 0 0 0;
}
.premium-menu__title {
  margin: 0 0 65px 0;
  text-align: center;
}
.premium-menu__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.item-premium-menu {
  position: relative;
  flex: 1 1 32%;
  margin: 0 0 72px 0;
}
.item-premium-menu__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.item-premium-menu__image {
  margin: 0 0 20px 0;
  height: 170px;
}
.item-premium-menu__image img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 30px rgba(177, 177, 177, 0.4);
  border-radius: 90px;
  transition: all 0.3s ease 0s;
}
.item-premium-menu__image img:hover {
  transform: scale(2);
}
.item-premium-menu__label {
  margin: 0 0 15px 0;
  font-family: Oswald, san-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
.item-premium-menu__text {
  flex: 1 1 auto;
  margin: 0 0 10px 0;
}
.item-premium-menu__price {
  font-family: Oswald, san-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
.item-premium-menu__cart {
  position: absolute;
  bottom: -18px;
  right: 0;
  display: inline-block;
  padding: 8px 8px 4px 4px;
  background: #F4511F;
  border-radius: 4px 4px 12px 4px;
  transition: all 0.2s ease 0s;
}
.item-premium-menu__cart:hover {
  background: #79d117;
  cursor: pointer;
}

.discount {
  margin: 120px 0 150px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.discount__image img {
  width: 430px;
  height: 100%;
}
.discount__content {
  flex: 0 1 40%;
}
.discount__text {
  margin: 0 0 30px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
}

.arrivals {
  margin: 150px 0 0 0;
}
.arrivals__title {
  margin: 0 0 65px 0;
  text-align: center;
}
.arrivals__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.item-arrivals {
  position: relative;
  flex: 1 1 32%;
  margin: 0 0 72px 0;
}
.item-arrivals__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.item-arrivals__discount {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 5px 10px;
  background: #F4511F;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}
.item-arrivals__image {
  margin: 30px 0 20px 0;
  height: 170px;
}
.item-arrivals__image img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 30px rgba(177, 177, 177, 0.4);
  border-radius: 90px;
  transition: all 0.3s ease 0s;
}
.item-arrivals__image img:hover {
  transform: scale(2);
}
.item-arrivals__label {
  margin: 0 0 15px 0;
  font-family: Oswald, san-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
.item-arrivals__text {
  flex: 1 1 auto;
  margin: 0 0 10px 0;
}
.item-arrivals__price {
  font-family: Oswald, san-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
.item-arrivals__price span {
  margin: 0 0 0 15px;
  font-size: 16px;
  color: #F4511F;
  text-decoration: line-through;
}
.item-arrivals__cart {
  position: absolute;
  bottom: -18px;
  right: 0;
  display: inline-block;
  padding: 8px 8px 4px 4px;
  background: #F4511F;
  border-radius: 4px 4px 12px 4px;
  transition: all 0.2s ease 0s;
}
.item-arrivals__cart:hover {
  background: #79d117;
  cursor: pointer;
}

.footer {
  margin: 100px 0 0 0;
  text-align: center;
  background: #2d2332;
}

.content-footer {
  margin: 30px 0;
  display: flex;
  align-items: center;
}

.social-footer {
  flex: 1 1 33.333%;
  font-size: 13px;
  font-weight: 400;
  color: #DAD8D7;
}
.social-footer > *:not(:last-child) {
  margin: 0 0 15px 0;
}
.social-footer__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
}
.social-footer__icon {
  display: inline-block;
}
.social-footer__icon img {
  width: 35px;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 0.3s ease 0s;
}
.social-footer__icon img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  transform: scale(1.1);
}
.social-footer__cards {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.social-footer__cards img {
  width: 50px;
  height: 100%;
}

.menu-footer {
  flex: 1 1 33.333%;
  border-left: 1px dashed rgba(255, 255, 255, 0.15);
  border-right: 1px dashed rgba(255, 255, 255, 0.15);
}
.menu-footer__item {
  margin: 0 0 12px 0;
}
.menu-footer__item:last-child {
  margin: 0;
}
.menu-footer__link {
  color: inherit;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: Oswald, sans-serif;
}
.menu-footer__link:hover {
  text-decoration: underline;
}

.app-footer {
  flex: 1 1 33.333%;
  font-size: 13px;
  font-weight: 400;
  color: #DAD8D7;
}
.app-footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.app-footer__body img {
  width: 120px;
  height: 100%;
  transition: all 0.2s ease 0s;
}
.app-footer__body img:hover {
  filter: invert(1);
}
.app-footer .contacts-footer > *:not(:last-child) {
  margin: 0 0 5px 0;
}
.app-footer .contacts-footer__adress, .app-footer .contacts-footer__phone {
  display: block;
  color: inherit;
  text-decoration: underline;
}
.app-footer .contacts-footer__adress:hover, .app-footer .contacts-footer__phone:hover {
  color: #fff;
}

.social-footer,
.menu-footer,
.app-footer {
  padding: 0 10px;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .page {
    margin: 50px 0 0 0;
  }
  .header {
    margin: 0;
    padding: 4px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #372b3e;
  }
  .logo__text {
    font-size: 20px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px 0 0 0;
    text-transform: none;
    font-size: 13px;
    font-weight: 400;
  }
  .contacts__adress, .contacts__phone, .contacts__time {
    position: relative;
    padding: 0 0 0 25px;
  }
  .contacts__adress:before, .contacts__phone:before, .contacts__time:before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: -2px;
    left: 0;
    margin: 0 10px 0 0;
  }
  .contacts__adress:before {
    background: url("../img/burger/map.svg") 0 0 no-repeat;
  }
  .contacts__phone:before {
    background: url("../img/burger/phone.svg") 0 0 no-repeat;
  }
  .contacts__time:before {
    background: url("../img/burger/time.svg") 0 0 no-repeat;
  }
  .contacts__adress, .contacts__phone {
    color: inherit;
  }
  .logo-menu {
    margin: 50px 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .logo-menu__icon {
    display: inline-block;
    flex: 0 0 24px;
  }
  .logo-menu__icon img {
    width: 24px;
    height: 24px;
  }
  .logo-menu__text {
    display: inline-block;
    color: inherit;
    font-family: Oswald, san-serif;
    font-weight: 400;
    font-size: 26px;
    text-transform: none;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 25px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    background: #F4511F;
    padding: 30px 20px 0 35px;
    margin: 0 0 0 25%;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    overflow: auto;
  }
  .menu__list {
    display: block;
  }
  .menu__item {
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.21);
  }
  .menu__item:last-child {
    margin: 0;
  }
  .menu__item .menu__link {
    padding: 5px 15px 5px 0;
  }
  .menu__item .menu__link:hover {
    color: #121617;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu.active {
    right: 0;
  }
  .slider {
    gap: 34px;
  }
  .image-slider img {
    max-width: 100%;
  }
  .content-slider {
    margin: 0;
  }
  .content-slider__tittle {
    font-size: 44px;
    margin-bottom: 25px;
  }
  .content-slider__text {
    margin-bottom: 40px;
  }
  .content-swiper .swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
    transform-style: inherit !important;
  }
  .services__items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .item-services {
    flex: 0 1 47%;
  }
  .item-services:hover {
    background: #2d2332;
  }
  .about {
    margin: 100px 0 0 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about__content {
    flex: 1 1 100%;
    margin: 40px 0 0 0;
    max-width: 450px;
  }
  .about__title {
    margin: 0 0 40px 0;
  }
  .about__image {
    flex: 1 1 100%;
  }
  .about__image img {
    max-width: 100%;
    height: 100%;
  }
  .premium-menu {
    margin: 100px 0 0 0;
  }
  .item-premium-menu {
    flex: 1 1 48%;
    margin: 0 0 65px 0;
  }
  .item-premium-menu__image img {
    transition: none;
  }
  .item-premium-menu__image img:hover {
    transform: none;
  }
  .discount {
    margin: 80px 0 0 0;
    justify-content: center;
  }
  .discount__image img {
    width: 100%;
  }
  .discount__content {
    flex: 0 1 70%;
  }
  .discount__text {
    margin: 30px 0;
  }
  .arrivals {
    margin: 100px 0 0 0;
  }
  .item-arrivals {
    position: relative;
    flex: 0 1 48%;
    margin: 0 0 65px 0;
  }
  .item-arrivals__image img {
    transition: none;
  }
  .item-arrivals__image img:hover {
    transform: none;
  }
  .footer {
    margin: 70px 0 0 0;
  }
}
@media (max-width: 479px) {
  .logo__text.active {
    display: none;
    transition: all 0.5s ease 0s;
  }
  .header__menu {
    width: 70%;
  }
  .slider {
    display: flex;
    flex-direction: column;
  }
  .image-slider__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: inherit;
    margin: 0 0 30px 0;
  }
  .image-slider__title {
    font-size: 20px;
  }
  .image-slider__text {
    font-size: 14px;
  }
  .content-slider__body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .content-slider__button {
    font-size: 20px;
  }
  .services {
    margin: 70px 0 0 0;
  }
  .item-services {
    flex: 1 1 100%;
  }
  .services__tittle {
    margin: 0 0 50px 0;
  }
  .premium-menu__title {
    margin: 0 0 50px 0;
  }
  .item-premium-menu {
    flex: 1 1 100%;
  }
  .item-premium-menu__image {
    height: 180px;
  }
  .discount {
    margin: 80px 0 0 0;
  }
  .discount__content {
    flex: 0 1 100%;
  }
  .discount__text {
    margin: 30px 0;
    font-size: 18px;
  }
  .arrivals {
    margin: 100px 0 0 0;
  }
  .arrivals__title {
    margin: 0 0 50px 0;
    text-align: center;
  }
  .item-arrivals {
    flex: 1 1 100%;
  }
  .item-arrivals__image {
    height: 180px;
  }
  .footer {
    margin: 50px 0 0 0;
  }
  .content-footer {
    flex-direction: column;
    row-gap: 20px;
  }
  .menu-footer {
    border: none;
  }
  .menu-footer__link {
    font-size: 18px;
  }
  .app-footer {
    flex: 1 1 33.333%;
  }
  .app-footer__body img {
    width: 140px;
  }
}